div#container
{
   width: 500px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('images/Wasserzeichen_003.jpg');
   background-attachment: scroll;
   background-position: center top;
   background-repeat: repeat-y;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_indexShape1
{
   transform: rotate(270deg);
   transform-origin: 50% 50%;
}
#wb_indexShape1 a img
{
   position: absolute;
   left: 0;
}
#wb_indexShape1 .default
{
   position: absolute;
   left: 0;
}
#wb_indexShape1 a .hover
{
   visibility: hidden;
}
#wb_indexShape1 a:hover .hover
{
   visibility: visible;
}
#wb_indexShape1 a:hover .default
{
   visibility: hidden;
}
#indexShape1
{
   border-width: 0;
   vertical-align: top;
}
#linksThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#linksThemeableButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#linksThemeableButton1.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#linksThemeableButton1.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#linksThemeableButton1.ui-button
{
   background-color: #C0C0C0;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #000000;
}
#linksThemeableButton1.ui-state-hover, #linksThemeableButton1.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#linksThemeableButton1.ui-state-active, #linksThemeableButton1.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#linksEditbox1
{
   line-height: 16px;
   margin: 0;
   border: 1px solid #DDDDDD;
   border-radius: 4px;
   background-color: #C0C0C0;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#linksEditbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_linksText2 div
{
   text-align: left;
}
#wb_indexCssMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100px;
}
#wb_indexCssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100px;
}
#wb_indexCssMenu2 a
{
   display: block;
   color: #DCDCDC;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_indexCssMenu2 > ul > li > a
{
   width: 77px;
   height: 40px;
   line-height: 40px;
   padding: 0px 5px 0px 18px;
}
#wb_indexCssMenu2 li:hover a, #wb_indexCssMenu2 a:hover, #wb_indexCssMenu2 .active
{
   color: #F05F40;
   border: 0px solid #222222;
   background-color: transparent;
   background-image: none;
}
#wb_indexCssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_indexCssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_indexCssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_indexCssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100px;
}
#wb_indexCssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100px;
}
#wb_indexCssMenu1 a
{
   display: block;
   color: #DCDCDC;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_indexCssMenu1 > ul > li > a
{
   width: 77px;
   height: 40px;
   line-height: 40px;
   padding: 0px 5px 0px 18px;
}
#wb_indexCssMenu1 li:hover a, #wb_indexCssMenu1 a:hover, #wb_indexCssMenu1 .active
{
   color: #F05F40;
   border: 0px solid #222222;
   background-color: transparent;
   background-image: none;
}
#wb_indexCssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_indexCssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_indexCssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
